<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="konecta" href="/employee">
      <img src="https://www.grupokonecta.com/wp-content/uploads/2016/11/logo-konecta-azul-1.svg" alt="Grupo Konecta" class="alternative-logo" height="" style="">
    </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active" style="margin-left: 20px;">
         <a href="/employee/list" class="btn btn-secondary" style="background-color: #9d9b97;"><i class="fa fa-list-alt" ></i> Registro</a>
      </li>
      <li class="nav-item">
        
      </li>
      <li class="nav-item">
        
      </li>
    </ul>
    <span class="navbar-text" style="margin-right: 80px;">
      <font color="black">Siempre Konectados</font>
    </span>
  </div>
</nav>

<body style="background-color: #032556 ;">
    <div class="row">
        {{!-- <div class="col-md-6 offset-md-3" style="background-color: #fff; margin-top: 24px;"> --}}
           {{{body}}} 
        {{!-- </div> --}}
    </div>
   
</body>
</html>